{% extends "layout.twig" %}

{% block content %}
    <h1>Edit article {{ article.title }}</h1>
    <form class="add-edit-article" action="/articles/{{ article.id }}" method="POST">
        <div class="form-group">
            <label for="title">Enter the title:</label>
            <input type="text" id="title" name="title" value="{{ article.title }}" class="title-input">
        </div>
        <div class="form-group">
            <label for="content">Enter the content:</label>
            <textarea id="content" name="content" class="content-textarea">{{ article.content }}</textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit article" onClick="confirm('Do you really want to edit this article?')"
                   class="edit-button">
        </div>
    </form>
{% endblock %}