/* Global styling */
body {
    background-color: #595353;
    font-family: Arial, sans-serif;
    margin-top: 200px;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #fff;
}

button {
    margin-right: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav {
    display: flex;
    align-items: center;
}

.nav form {
    margin-right: 20px;
}

button:hover {
    background-color: #004266;
}

/* Content container */
.container {
    background-color: #d9cccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 2000px;
    width: 90%;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: auto;
}

.footer h2 {
    margin: 0 10px;
}

.footer h2:first-child {
    margin-left: 0;
}

.footer h2:last-child {
    margin-right: 0;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1800px;
}

.article-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px 0;
    width: calc(50% - 20px);
}

@media only screen and (min-width: 768px) {
    .article-card {
        width: 45%;
    }
}

.article-card .author-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.article-card .userImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}

.article-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.article-card p {
    margin-top: 0;
    margin-bottom: 10px;
}

.article-card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.article-card a:hover {
    color: #1955b0;
    transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
    .article-card {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    .article-card {
        width: 100%;
    }
}

.user {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 1950px;
    width: 100%;
    text-align: left;
}

.userPhoto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.userPosts {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 1950px;
    width: 100%;
    text-align: left;
}

.userPosts .articleuser {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #6e6a6a;
}

.userPosts .articleuser:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.userPosts h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.userPosts h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.userPosts p {
    margin-top: 0;
    margin-bottom: 10px;
}

.userPosts a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.userPosts a:hover {
    color: #1955b0;
}

.comments {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 1950px;
    width: 100%;
    text-align: left;
}

.comments .comment {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #6e6a6a;
}

.comments .comment .comment-name {
    margin-left: 5px;
}

.comment-name a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.commentatorPhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}

.article {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 1950px;
    width: 100%;
    text-align: left;
}


.article h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.article p {
    margin-top: 0;
    margin-bottom: 10px;
}

.article a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.article a:hover {
    color: #1955b0;
    transform: scale(1.2);
}

h1 {
    font-size: 4rem;
    margin: 0;
    color: #333;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.users {
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.users p {
    margin-top: 0;
    font-size: 18px;
}

.users a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.users a:hover {
    color: #1955b0;
}

.delete-form {
    text-align: right;
}

h1 a {
    font-size: 30px;
    margin-left: 10px;
}

.add-edit-article {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.title-input {
    width: 500px;
    padding: 10px;
    font-size: 16px;
}

.content-textarea {
    width: 500px;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #004266;
}

.register {
    width: 400px;
    margin: 0 auto;
}

.register-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 500px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.link-sign-in {
    margin-top: 40px;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.must-log-in {
    color: red;
    font-weight: bold;
}

.must-log-in a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.must-log-in a:hover {
    text-decoration: underline;
}

.error {
    margin-top: 0;
    color: red;
    font-weight: bold;
}