<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Best articles</title>
</head>
<header>
    <h1>BETTER "NEWS" - "FAKE NEWS"</h1>
    <div class="nav">
        <form action="/">
            <button>HOME</button>
        </form>
        <form action="/users">
            <button>Users</button>
        </form>
    </div>
</header>
<body>
<div class="container">
    {% block content %}


    {% endblock %}
</div>
</body>

<footer>
    <div class="footer">
        <h2>POWERED BY LOCALHOST :)</h2>
        <h2>by Guntars Vaivods</h2>
    </div>
</footer>
</html>