{% extends "layout.twig" %}

{% block content %}
    <h1>Meet and find more about our users:</h1>
    {% if users is empty %}
        <h1>Something went wrong. No results found. Please try again!</h1>
    {% else %}
        <div class="user-list">
            {% for user in users %}
                <div class="users">
                    <img class="userPhoto" src="https://placehold.co/300x300" alt="User image">
                    <p>
                        <a href="/user/{{ user.id }}">{{ user.username }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}